<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Exportar o Importar - Lista de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-label><strong>Ruta de exportacion: </strong></ion-label>
  </ion-item>
  <ion-item>
    <ion-input type="text"[(ngModel)]="path_directory" (keyup)="validate_path(path_dir_input.value)" #path_dir_input></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label><strong>Nombre del Archivo: </strong></ion-label>
  </ion-item>
  <ion-item>
    <ion-input type="text"[(ngModel)]="name_file" (keyup)="validate_name_file(name_file_input.value)" #name_file_input></ion-input>
  </ion-item>

  <ion-button expand="block" fill="outline" color="success" (click)="import_products_csv()">
    <ion-icon name="arrow-up"></ion-icon>&nbsp;&nbsp;Importar *.csv
  </ion-button>
  <ion-button expand="block" fill="outline" color="success" (click)="import_products_json()">
    <ion-icon name="arrow-up"></ion-icon>&nbsp;&nbsp;Importar *.json
  </ion-button>
  <ion-button expand="block" fill="outline" color="primary" (click)="export_products_csv()">
    <ion-icon name="arrow-down"></ion-icon>&nbsp;&nbsp;Exportar *.csv
  </ion-button>
  <ion-button expand="block" fill="outline" color="primary" (click)="export_products_json()">
    <ion-icon name="arrow-down"></ion-icon>&nbsp;&nbsp;Exportar *.json
  </ion-button>
  <ion-button expand="block" fill="outline" color="danger" (click)="delete_file_products_csv()">
    <ion-icon name="trash"></ion-icon>&nbsp;&nbsp;Eliminar *.csv
  </ion-button>
  <ion-button expand="block" fill="outline" color="danger" (click)="delete_file_products_json()">
    <ion-icon name="trash"></ion-icon>&nbsp;&nbsp;Eliminar *.json
  </ion-button>
  <ion-button expand="block" fill="outline" color="tertiary" (click)="share_file_product_list_csv()">
    <ion-icon name="send"></ion-icon>&nbsp;&nbsp;Compartir *.csv
  </ion-button>
  <ion-button expand="block" fill="outline" color="tertiary" (click)="share_file_product_list_json()">
    <ion-icon name="send"></ion-icon>&nbsp;&nbsp;Compartir *.json
  </ion-button>
  <ion-button expand="block" fill="outline" color="warning" (click)="export_products_csv_desktop()">
    <ion-icon name="cloud-download"></ion-icon>&nbsp;&nbsp;Descargar *.csv (Test)
  </ion-button>
  <ion-button expand="block" fill="outline" color="warning" (click)="export_products_json_desktop()">
    <ion-icon name="cloud-download"></ion-icon>&nbsp;&nbsp;Descargar *.json (Test)
  </ion-button>
  <ion-button expand="block" fill="outline" color="success" (click)="ver_archivos_y_directorios()">
    <ion-icon name="eye"></ion-icon>&nbsp;&nbsp;Ver Archivos del Directorio
  </ion-button>
</ion-content>

