# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

### Agregados por mi
### Inicio
/android
/www
.angular/
e2e/
node_modules/
.browserslistrc
.eslintrc.json
.editorconfig
ionic.config.json
karma.conf.js
package-lock.json
### Fin

/.angular
/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/coverage
/dist
/node_modules
/platforms
/plugins
/www
