<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Resumen de productos en una tabla -->

<ion-content *ngIf="!selected_product && !can_add_item">
  <ion-grid>
    <app-grid-row-product-header [product_header_INPUT]="['Num', 'Medida', 'Nombre', 'Total ($)']" [ngClass]="['title']"></app-grid-row-product-header>
    <app-grid-row-product-header [product_header_INPUT]="[products.length, 'Tipos', 'Producsto', (calcular_costo_total() | currency)]" [ngClass]="['title']"></app-grid-row-product-header>
    <app-grid-row-product *ngFor="let product of products" (dblclick)="select_product(product)" [product_INPUT]="product"></app-grid-row-product>
  </ion-grid>

<!-- Botones de acción -->

  <ion-fab horizontal="start" vertical="bottom" slot="fixed" *ngIf="!selected_product">
    <ion-fab-button color="danger" (click)="delete_all_products_alert()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="!selected_product">
    <ion-fab-button color="secondary" (click)="switch_can_add_item()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- Imitación del uso de modales -->

<ion-content *ngIf="can_add_item" [ngClass]="['mi_modal']">
  <ion-button expand="block" fill="outline" color="secondary" (click)="switch_can_add_item()">Cerrar Formulario</ion-button>
  <app-validation-reactive-product (product_validated_OUTPUT)="add_product($event)" [button_label]="'Agregar'"></app-validation-reactive-product>
</ion-content>

<ion-content *ngIf="selected_product" [ngClass]="['mi_modal']">
  <ion-button expand="block" fill="outline" color="danger" (click)="delete_product_alert()">Eliminar</ion-button>
  <ion-button expand="block" fill="outline" color="secondary" (click)="unselect_product()">Cerrar Formulario</ion-button>
  <app-validation-reactive-product (product_validated_OUTPUT)="update_product($event)" [product_test_INPUT]="selected_product" [button_label]="'Actualizar'"></app-validation-reactive-product>
</ion-content>
