<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <ion-grid>
      <ion-row>
        <ion-col size="12" [ngClass]="['title']">Funcionalidades</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          Crear una Lista de Compras
          <ul>
            <li>Agregar, editar y eliminar elementos</li>
            <li>Calcula el gasto total de la lista automaticamente</li>
          </ul>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          Con los datos Guardados
          <ul>
            <li>Importar o Exportar como <strong>csv</strong> o <strong>json</strong></li>
            <li>Compartirlo a través de aplicaciones</li>
          </ul>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          Configuraciones
          <ul>
            <li>Personalizar las unidades de medida de los producto</li>
            <li>Personalizar la ruta de Importación o Exportación</li>
            <li>Opción para ver archivos existentes del directorio configurado</li>
            <li>Opción para restablecer las unidades de medidas predeterminadas</li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12" [ngClass]="['title']">Caracteristicas</ion-col>
      </ion-row>
      <ion-row>
        <ul>
          <li>Resaltado de error o avisos sobre datos ingresados inválidos</li>
          <li>Avisos de confirmación antes de eliminar datos</li>
          <li>Avisos de confirmación antes de importar datos</li>
          <li>Avisos de confirmación para sobrescribir archivos exportados</li>
        </ul>
      </ion-row>
    </ion-grid>
  </body>
</ion-content>
