/* Estilos para visualizar tabla de productos */
ion-row{
    margin: 0px;
    width: auto;
}
ion-col {
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
    border: solid 1px #bbccdd;
    background-color: #f7f7f7;
}