ion-list{
    margin: 7px;
}

ion-list, ion-input{
    margin-left: 7px;
    margin-right: 7px;
}

ion-button{
    margin-top: 7px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 7px;
}

.title {
    font-weight: bold;
}